.static-page{
  &.index{
    header.site-header{
      display: block;
    }
  }
}

main{
  min-height: calc(100vh - 80px - 195px);
}

.catalog-search{
  .page-header{height: 115px !important;}
  .container.search-results{
    position: relative;
    .search-form{
      top: 39px;
    }
  }
}
