$orange: #f8b504;
$dark-grey: #333333;
//191919
$grey-border: #9d9d9d;
$dark_grey_color: #62676d;
$red_mafra: #de3f43;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  min-height: 100vh;
  height: auto;
  float: left;
  //font-family: OpenSans;
  font-family: Open Sans;
  //font-family: open_sansregular;

  //text-rendering: optimizeLegibility !important;
  //-webkit-font-smoothing: antialiased !important;

}
.row{
  width: 100%;
  height: auto;
  min-width: 960px;
}
.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  &.overflow-visisble{
    overflow: visible;
  }
}
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12{
  display: block;
  min-height: 1px;
  float: left;
}
.col-1{ width: 8.3333%;}  .col-2{ width: 16.6666%;}  .col-3{ width: 25%;}
.col-4{ width: 33.3333%;} .col-5{ width: 41.6666%;}  .col-6{ width: 50%;}
.col-7{ width: 58.3333%;} .col-8{ width: 66.6666%;}  .col-9{ width: 75%;}
.col-10{ width: 83.3333%;} .col-11{ width: 91.6666%;}  .col-12{ width: 100%;}

/* HEADER STYLES BEGIN */
header.site-header{
  background: $dark-grey;
  display: none;
  &>.container{
    height: 720px;
    .column{
      height: 100%;
      .block-1{
        width: 100%;
        height: 480px;
        background: url("../images/logo.png") no-repeat;
        background-size: contain;
        float: left;
        a{
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
      .block-2{
        height: 240px;
        background: url("../images/header-block-2-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        width: 100%;
        .orange-label{
          margin-top: 47px;
        }
      }
      .block-3{
        width: 100%;
        height: 240px;
        background: url("../images/header-block-3-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        .orange-label{
          margin-top: 50px;
        }
      }
      .block-4{
        width: 100%;
        height: 480px;
        float: left;

      }
    }
  }
}
/* HEADER STYLES END */

/* NAVIGATION STYLES BEGIN */
nav.site-nav{
  background: #191919;
  height: auto;
  height: 80px;
  overflow: hidden;
  transition: 300ms;
  &.opened{
    height: 217px;
  }
  .container{
    height: 217px;
    overflow: visible;
    position: relative;
  }
  .main-nav{
    float: left;
    height: 80px;
    width: 480px;
    list-style: none;
    display: table;
    >li{
      display: table-cell;
      width: 1%;
      height: 80px;
      white-space: nowrap;
      vertical-align: middle;
      color:white;
      >a{
        text-decoration: none;
        color:white;
        font-size: 16px;
        font-weight: 300;
        transition: all 350ms ease 0s;
        text-transform: uppercase;
        &:hover{
          color:$orange;
        }
      }
      &.active{
        a{
          color:$orange;
        }
      }


    }
  }
  .user-bar{
    height: 80px;
    .nav-phone{
      height: 80px;
      line-height: 75px;
      color: white;
      float: left;
      width: 180px;
      text-align: center;
      font-size: 16px;
      .code{}
      .phone{
        color:$orange;
        font-size: 20px;
      }
    }
    .nav-profile{
      width: 180px;
      height: 80px;
      float: left;
      line-height: 75px;
      text-align: right;
      a{
        text-decoration: none;
        color: white;
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          background: url("../images/profile-icon.png") no-repeat;
          left: -30px;
          top: -3px;
        }
      }
    }
    .nav-cart{
      text-align: right;
      line-height: 75px;
      a{
        color:#ffffff;
        position: relative;
        text-decoration: none;
      }
      .qty{
        display: inline-block;
        width: 24px;
        height: 24px;
        border: solid $orange 2px;
        color:$orange;
        border-radius: 12px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        left: -27px;
        top: -16px;
      }
      .cart-link{
        position: relative;
        &:before{
          content:'';
          display: block;
          width: 25px;
          height: 19px;
          background: url("../images/cart-icon.png") no-repeat;
          position: absolute;
          left:-40px;
          top:0px;
        }
        .price-value{}
      }
    }
  }

  .catalog-link>ul{
    display: block;
    list-style: none;
    width: 960px;
    height: 137px;
    float: left;
    position: absolute;
    left: 0;
    top: 80px;
    //text-transform:  !important;
    &:before, &:after{
      content: '';
      height: 100%;
      width: calc(50vw - 480px);
      background: $dark-grey;
      position: absolute;
      top: 0;
    }
    &:before{
      left: calc(480px - 50vw);
    }
    &:after{
      right: calc(480px - 50vw);
    }
    li{
      display: block;
      float: left;
      width: calc(100% / 7);
      height: 137px;
      position: relative;
      z-index: 1;
      a{
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        height: 100%;
        div{
          position: absolute;
          width: 120px;
          height: 25px;
          background: #000;
          color: #ffffff;
          margin-top: 15px;
          padding-left: 5px;
          line-height: 24px;
        }
      }

      &:hover{
        &:after{
          opacity: 0.35;
        }
        a{
          color:black;
          div{
            background: $orange;
            color:black !important;
          }
        }
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $orange;
        opacity: 0;
        z-index: -1;
      }
      &.active{
        &:after{
          opacity: 0.35;
        }
        a{
          color:black;
          div{
            background: $orange;
            color:black !important;
          }
        }
      }
      &:nth-child(1){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-1.jpg");
          z-index: -2;
        }

      }
      &:nth-child(2){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-2.jpg");
          z-index: -2;
        }

      }
      &:nth-child(3){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-3.jpg");
          z-index: -2;
        }

      }
      &:nth-child(4){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-4.jpg");
          z-index: -2;}
      }
      &:nth-child(5){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-5.jpg"); }
      }
      &:nth-child(6){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-6.jpg"); }
      }
      &:nth-child(7){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-7.jpg"); }
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: $red_mafra;
          opacity: 0;
          z-index: -1;
        }
        &:hover{
          a{
            color: white !important;
            div{
              background: $red_mafra !important;
              color: white !important;
            }
          }
          &:after{
            opacity: 0.3;
          }
        }&.active{
          a{
            color: white !important;
            div{
              background: $red_mafra !important;
              color: white !important;
            }
          }
          &:after{
            opacity: 0.3;
          }
        }
      }
    }
  }
}
/* NAVIGATION STYLES END */

/* MAIN PAGE STYLES BEGIN */
.sale-hits{
  >.container{
    position: relative;
    header{
      width: 100%;
      height: 70px;
      line-height: 26px;
      position: relative;
      h3{
        width: 235px;
        height: 70px;
        line-height: 100px;
        display: inline-block;
      }
    }
    .sale-hit-products{
      width: 100%;
      height: 420px;
      float: left;
      margin-top: 20px;
      .frame{
        width: 306px;
        height: 440px;
        float: left;
        //margin-left: 21px;
        //margin-right: 0 !important;
        &:first-child{
          margin-left: 0;}
        .product-item{
          float: left;
          &:nth-child(2){
            margin-top: 20px;
          }
        }
      }
    }
  }
}
/* MAIN PAGE STYLES END */

/* HISTORY BLOCK STYLES BEGIN */
.history-row{
  background-color: #191919;
  header{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .content-container{
    background-color: #333333;
    height: 720px;
    .col-6{
      height: 100%;
      position: relative;
    }
    .block-1{
      height: 480px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      float: left;
      &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity: 0.03;
        background: url("/images/media/bg-1.jpg") no-repeat center;
        background-size: cover;
      }

      .orange-label{
        margin-top: 50px;
      }
    }
    .block-2{
      height: 240px;
      position: relative;
      z-index: 1;
      color: white;
      float: left;
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        top:0;
        background: url("/images/media/bg-3.jpg") center no-repeat;
        background-size: cover;

      }
      .orange-label{
        margin-top: 47px;
      }
    }
    .block-3{
      height: 240px;
      position: relative;
      z-index: 1;
      color: white;
      float: left;
      &:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #62676d;
        position: absolute;
        z-index: -2;
        top:0;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        background: url("/images/media/bg-2.jpg") center no-repeat;
        background-size: cover;
        opacity: 0.15;
      }
      .orange-label{
        margin-top: 50px;
      }
    }
    .block-4{
      height: 480px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      float: left;
      .orange-label{
        float: left;
        margin-top: 47px;
      }
      p{
        margin-top:110px;
      }

      .video-wrapper{
        width: 380px;
        margin: 0 auto;
        margin-top: 40px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity: 0.03;
        background: url("/images/media/bg-4.jpg") no-repeat center;
        background-size: cover;
      }
    }
    p{
      color: #ffffff;
      font-size: 16px;
      padding: 0 50px;
      //text-indent: 35px;
      font-weight: 300;
    }
  }
}
/* HISTORY BLOCK STYLES END */

/* SHOP STYLES BEGIN */
.product-item{
  width: 306px;
  height: 200px;
  border: solid 1px $grey-border;
  position: relative;
  overflow:hidden;

  .side-1{
    width: 100%;
    height: 100%;
    float: left;
  }
  .image-wrapper{
    width: 118px;
    margin-left: 10px;
    margin-right: 10px;
    height: 158px;
    margin-top: 20px;
    //height: 198px;
    float: left;
    text-align: center;
    overflow: hidden;
    //padding: 20px 10px;
    //line-height: 198px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    img{
      max-height: 154px;
      max-width: 120px;
      display: inline-block;
    }
  }
  .info{
    width: 166px;
    height: 198px;
    float: left;
    padding: 19px 20px 22px 0px;
    position: relative;
    .name{
      //padding-left: 7px;
      padding-left: 0px;
      width: 100%;
      height: auto;
      color: #333;
      font-size: 19px;
      font-weight: 700;
      text-align: right;
      line-height: 23px;
    }
    .desc{
      float: left;
      width: 100%;
      height: auto;
      max-height: 80px;
      color: #333;
      font-size: 13px;
      text-align: right;
      margin-top: 5px;
      line-height: 16px;
    }
    .price{
      color: #333;
      font-size: 20px;
      font-weight: 700;
      position: absolute;
      right: 17px;
      bottom: 15px;
      .fa{
        font-size: 18px;
        font-weight: 800;
      }
    }
    .old-price{
      color: lighten(#333, 50);
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      left: 7px;
      bottom: 15px;
      text-decoration: line-through;
      display: none;
    }
  }

  .side-2{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0, 0.65);
    text-align: center;
    transform: rotateX(90deg);
    transform: rotateY(90deg);
    //top: 100%;
    transition: all 350ms;
    transform-style: preserve-3d;


    .more-info-link{
      display: inline-block;
      width: 170px;
      height: 35px;
      background: #9d9d9d;
      line-height: 35px;
      color: #000;
      font-size: 16px;
      text-decoration: none;
      margin-top: 62px;
    }
    .add-cart-control{
      display: inline-block;
      width: 170px;
      height: 35px;
      margin-top: 10px;
      position: relative;

      .qty-controls{
        width: 53px;
        height: 35px;
        position: relative;

        .qty-control{
          display: block;
          position: absolute;
          z-index: 2;
          width: 20px;
          left: 0;
          background-color: #ffffff;
          &.increment{
            height: 18px;
            top: 0;
            border: solid 1px #c6c6c6;
            background: #ffffff url("../images/arrow-qty-increment.png") no-repeat;
            background-position: center;
          }
          &.decrement{
            height: 18px;
            bottom: 0;
            border: solid 1px #c6c6c6;
            background: #ffffff url("../images/arrow-qty-decrement.png") no-repeat;
            background-position: center;
          }
        }
        input{
          width: 33px;
          height: 35px;
          text-align: center;
          border: solid 1px #c6c6c6;
          background: #ffffff;
          border-left: none !important;
          position: absolute;
          top: 0;
          right: 0;
        }

      }

      .add-cart-button{
        display: block;
        position: absolute;
        width: 107px;
        height: 35px;
        top: 0;
        right: 0;
        background: $orange;
        text-decoration: none;
        line-height: 35px;
        color:black;
        text-align: right;
        color: #000;
        font-size: 16px;
        padding-right: 14px;
        span{
          &:before{
            content:'';
            display: block;
            width: 20px;
            height: 16px;
            background: url('../images/cart-icon-black.png') no-repeat;
            position: absolute;
            top: 9px;
            left: 10px;
          }
        }
      }
    }

    .not-in-stock-text{
      display: inline-block;
      width: 170px;
      height: 35px;
      line-height: 35px;
      margin-top: 10px;
      position: relative;

      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.in-stock{
    .not-in-stock-text{ display:none; }
  }
  &.not-in-stock{
    .not-in-stock-text{ display: inline-block !important;}
    .add-cart-control{ display:none; }
  }
  &:hover{
    .side-2{
      transform: rotateX(0deg);
      transform: rotateY(0deg);
      //transition: all 500ms;
      //top: 0;
    }
  }

  &.discount{
    .old-price{
      display: block;
    }
  }
}
/* SHOP STYLES END */

/* VIDEO BLOCK STYLES BEGIN */
.video-block{
  background: url("../images/video-flag-bg.jpg") no-repeat;
  background-size: cover;

  header{
    height: 80px;
    padding-top: 25px;
    float: left;
    h3{
      display: inline-block !important;
      width: 300px;
      font-weight: 600;
    }
    .slider-controls{
      //margin-top: 10px;
    }
  }

  .content{
    float: left;
    margin-top: 7px;
    margin-bottom: 70px;
  }

  .video-list{
    display: block;
    list-style: none;
    width: 100%;
    float: left;
    li{
      display: block;
      float: left;
      width: 310px;
      .video-wrapper{
        width: 310px;
      }
    }
  }
}
/* VIDEO BLOCK STYLES END */

/* FOOTER STYLES BEGIN */
footer{
  background-color: #191919;
  padding-top: 45px;
  position: relative;
  .container{
    height: 150px;
    position: relative;
  }

  .sn-block{
    width: 50%;
    margin-top: 3px;

    .sn.ig{
      margin-left: 13px;
    }
  }
  .text{
    width: 50%;
    padding-top: 10px;
    font-size: 16px;
    color: $dark_grey_color;

    .copyrights{
      text-transform: uppercase;
      color: white;
    }
  }

  .payment-logo{
    width: 270px;
    top: 0px;
    right: 0;
    position: absolute;
    text-align: center;

    img{
      display: inline;
      vertical-align: middle;
    }

    .rbkmoney-logo{
      float: left;
    }
    .visa-logo{
      margin-top: 5px;
      margin-left: 5px;
    }
    .mastercard-logo{
      float: right;
    }

  }

}
/* FOOTER STYLES END */

/**/
.video{
  width: 100%;
  height: auto;
  position: relative;

  img.video-pict{
    width: 100%;
    height: auto;
  }
  .play-button{
    position: absolute;
    display: block;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url("../images/play.png") center no-repeat;
    cursor: pointer;
  }
  .name{
    position: absolute;
    left:0;
    bottom: 10px;
    z-index: 1;
    width: 100%;
    padding: 0 10px;
    color: #fff; // text color + color overlay
    font-size: 16px;

  }
}
/**/

.modal-box{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top:0;
  left:0;
  display: none;
  opacity: 0;
  .close-modal{
    position: fixed;
    background: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    &.close-button{
      position: absolute;
      z-index: 3;
      background: url("/images/markup/close-button.png") no-repeat center;
      width: 24px;
      height: 24px;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
  .content{
    width: 960px;
    background-color: white;
    margin: 0 auto;
    margin-top: 240px;
    position: relative;
    z-index: 2;
  }
}
#after-order-modal{
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .content{
    position: fixed;
    z-index: 502;
    width: 480px;
    height: 340px;
    left: calc( 50% - 240px);
    top: calc( 50% - 170px );
    margin:0;
    background: white;
    padding: 35px 45px;
  }
  .thank{
    color: #61676d;
    font-size: 30px;
    font-weight: 500;
  }
  .added{
    color: #191919;
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 50px;
  }
  .pict{
    height: 90px;
    background-size: contain !important;
    background-position: left middle !important;
    background-repeat: no-repeat !important;
  }
  .pict img{
    height: 100%;
    width: auto;
  }
  .name{
    color: #191919;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
  }
  .price{
    color: #191919;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
  }

  .continue{
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #191919;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 300;
  }
  .checkout{
    position: absolute;
    bottom: 30px;
    left: 52%;
    width: 175px;
  }
}
#video-modal{
  position: fixed !important;

  .content{
    width: 980px !important;
    margin-top: 10px !important;
    background: none !important;
    iframe{
      width: 980px;
      height: 650px;
    }
  }
}
form.search-form{
  position: absolute;
  right: 0px;
  top: 32px;
  width: 306px;
  height: 30px;

  input{
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid $grey-border;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: 300;

    &::-webkit-input-placeholder{
      color: #61676d;
      font-size: 15px;
      font-style: italic;
      opacity:1;
    }
    /*
    &::-moz-placeholder{
      color:#c0392b;
    }
    &:-moz-placeholder{
      color:#c0392b;
    }
    &:-ms-input-placeholder{
      color:#c0392b;
    }
    */
  }
  button{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 2;
    background: url("../images/search-lens.png") no-repeat;
    background-position: center;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
  }
}
.sn{
  display: inline-block;
  width: 25px;
  height: 25px;
  &.vk{ background-image: url("../images/vk.png"); }
  &.ig{ background-image: url("../images/ig.png"); }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-sroll-top {
  background: url("../images/arrow-scroll-top.png") no-repeat;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 30px;
  opacity: 0;
  position: fixed;
  transition: all 800ms ease 0s;
  visibility: hidden;
  z-index: 100;

  &.active{
    opacity: 1;
    visibility: visible;
  }

  a{
    display: block;
    height: 100%;
    width: 100%;
  }
}

.catalog-page.catalog-44{
  .arrow-sroll-top {
    background: url("../images/arrow-scroll-top-mafra.png") no-repeat !important;

  }
}