.user{
  h4{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.user-reg-form, .user-lk-form{
  width: 630px;
  float: left;
  height: auto;

  .form-row{
    width: 100%;
    height: auto;
    margin-top: 20px;
    float: left;
    &:first-child{  margin-top: 0;}


    .label{
      width: 100px;
      float: left;
      min-height: 1px;
      color: #000;
      font-size: 16px;
    }
    .data{
      width: 530px;
      float: left;
      min-height: 1px;
    }

    input[type=text]{
      height: 30px;
      border: 1px solid #9d9d9d;
      box-shadow: none !important;
      outline: none !important;
      width: 250px;
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0px 10px;
      font-size: 16px;
      &.short{
        width: 160px;
        margin-left: 25px;
        &:first-child{ margin-left: 0; }
      }
      &.long{
        width: 100%;
      }
    }

    #submit-btn{
      width: 175px;
    }
  }
}
.user-lk-form{
  button{
    width: 210px !important;
  }
}
.personal-discount-wrpr{
  width: 330px;
  float: left;
  .desc{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    margin-top: 45px;
  }
  .value{
    width: 100%;
    //margin-top: 25px;
    text-align: center;
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }
  .label{
    float: right;
    width: 292px;
    height: 239px;
    background: url('../images/lk-discount-bg.jpg') no-repeat;
  }
}

#order-history{
  list-style: none;
  display: table;
  width: 100%;
  li{
    display: block;
    width: 100%;
    height: 30px;
    border: solid 1px #9d9d9d;
    border-top: none;
    float: left;
    &:first-child{
      border: solid 1px #9d9d9d;
    }
    .num{
      width: 280px;
      float: left;
    }
    .date{
      width: 190px;
      float: left;
    }
    .summ{
      width: 200px;
      float: left;
    }
    .status{
      width: 290px;
      float: left;
    }
  }
}