$orange: #f8b504;
$dark-grey: #333333;
$grey-border: #9d9d9d;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  min-height: 100vh;
  height: auto;
  float: left;
  font-family: "Helvetica Neue", Helvetica;
}
.row{
  width: 100%;
  height: auto;
  min-width: 960px;
}
.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  &.overflow-visisble{
    overflow: visible;
  }
}
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12{
  display: block;
  min-height: 1px;
  float: left;
}
.col-1{ width: 8.3333%;}  .col-2{ width: 16.6666%;}  .col-3{ width: 25%;}
.col-4{ width: 33.3333%;} .col-5{ width: 41.6666%;}  .col-6{ width: 50%;}
.col-7{ width: 58.3333%;} .col-8{ width: 66.6666%;}  .col-9{ width: 75%;}
.col-10{ width: 83.3333%;} .col-11{ width: 91.6666%;}  .col-12{ width: 100%;}

/* HEADER STYLES BEGIN */
header.site-header{
  background: $dark-grey;
  &>.container{
    height: 720px;
    .column{
      .label{
        line-height: 24px;
        span{
          background: $orange;
          padding: 3px 10px;
          color: #191919;
          font-size: 16px;
          font-weight: 300;
        }
      }
      height: 100%;
      .block-1{
        width: 100%;
        height: 480px;
        background: url("../images/logo.png") no-repeat;
        background-size: contain;
        float: left;
        a{
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
      .block-2{
        height: 240px;
        background: url("../images/header-block-2-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        width: 100%;
        .label{
          margin-top: 47px;
        }
      }
      .block-3{
        width: 100%;
        height: 240px;
        background: url("../images/header-block-3-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        .label{
          margin-top: 50px;
        }
      }
      .block-4{
        width: 100%;
        height: 480px;
        float: left;

      }
    }
  }
}
/* HEADER STYLES END */

/* NAVIGATION STYLES BEGIN */
nav.site-nav{
  background: #000;
  height: auto;
  height: 80px;
  overflow: hidden;
  transition: 300ms;
  &.opened{
    height: 217px;
  }
  .container{
    height: 217px;
    overflow: visible;
    position: relative;
  }
  .main-nav{
    float: left;
    height: 80px;
    width: 480px;
    list-style: none;
    display: table;
    >li{
      display: table-cell;
      width: 1%;
      height: 80px;
      white-space: nowrap;
      vertical-align: middle;
      color:white;
      >a{
        text-decoration: none;
        color:white;
        font-size: 16px;
        font-weight: 300;
        transition: all 350ms ease 0s;

        text-transform: uppercase;
        &:hover{
          color:$orange;
        }
      }
      &.active{
        a{
          color:$orange;
        }
      }
    }
  }
  .user-bar{
    height: 80px;
    .nav-phone{
      height: 80px;
      line-height: 75px;
      color: white;
      float: left;
      width: 180px;
      text-align: center;
      font-size: 16px;
      .code{}
      .phone{
        color:$orange;
        font-size: 20px;
      }
    }
    .nav-profile{
      width: 180px;
      height: 80px;
      float: left;
      line-height: 75px;
      text-align: right;
      a{
        text-decoration: none;
        color: white;
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          background: url("../images/profile-icon.png") no-repeat;
          left: -30px;
          top: -3px;
        }
      }
    }
    .nav-cart{
      text-align: right;
      line-height: 75px;
      a{
        color:#ffffff;
        position: relative;
        text-decoration: none;
      }
      .qty{
        display: inline-block;
        width: 24px;
        height: 24px;
        border: solid $orange 2px;
        color:$orange;
        border-radius: 12px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        left: -27px;
        top: -16px;
      }
      .cart-link{
        position: relative;
        &:before{
          content:'';
          display: block;
          width: 25px;
          height: 19px;
          background: url("../images/cart-icon.png") no-repeat;
          position: absolute;
          left:-40px;
          top:0px;
        }
        .price-value{}
      }
    }
  }

  ul.categories-subnav{
    display: block;
    list-style: none;
    width: 960px;
    height: 137px;
    float: left;
    position: absolute;
    left: 0;
    top: 80px;
    //text-transform:  !important;
    &:before, &:after{
      content: '';
      height: 100%;
      width: calc(50vw - 480px);
      background: $dark-grey;
      position: absolute;
      top: 0;
    }
    &:before{
      left: calc(480px - 50vw);
    }
    &:after{
      right: calc(480px - 50vw);
    }
    li{
      display: block;
      float: left;
      width: calc(100% / 7);
      height: 137px;
      position: relative;
      z-index: 1;
      a{
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        height: 100%;
        div{
          position: absolute;
          width: 120px;
          height: 25px;
          background: #000;
          color: #ffffff;
          margin-top: 15px;
          padding-left: 5px;
          line-height: 24px;
        }
      }
      &:hover{
        &:after{
          opacity: 0.35;
        }
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $orange;
        opacity: 0;
        z-index: -1;
      }
      &:nth-child(1){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-1.jpg");
          z-index: -2;
        }

      }
      &:nth-child(2){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-2.jpg");
          z-index: -2;
        }

      }
      &:nth-child(3){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-3.jpg");
          z-index: -2;
        }

      }

      &:nth-child(4){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-4.jpg");
          z-index: -2;}
      }

      &:nth-child(5){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-5.jpg"); }
      }

      &:nth-child(6){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-6.jpg"); }
      }

      &:nth-child(7){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-7.jpg"); }
      }
    }
  }
}
/* NAVIGATION STYLES END */

/* MAIN PAGE STYLES BEGIN */
.sale-hits{
  >.container{
    position: relative;
    header{
      width: 100%;
      height: 70px;
      line-height: 26px;
      position: relative;
      h3{
        width: 235px;
        height: 70px;
        line-height: 100px;
        display: inline-block;
      }

      form{
        position: absolute;
        right: 0px;
        top: 32px;
        width: 306px;
        height: 30px;

        input{
          width: 100%;
          height: 100%;
          box-shadow: none !important;
          border: 1px solid $grey-border;
          padding-left: 10px;
          padding-right: 30px;
        }
        button{
          width: 28px;
          height: 28px;
          position: absolute;
          right: 1px;
          top: 1px;
          z-index: 2;
          background: url("../images/search-lens.png") no-repeat;
          background-position: center;
          border: none !important;
          box-shadow: none !important;
          cursor: pointer;
        }
      }
    }
    .sale-hit-products{
      width: 100%;
      height: 420px;
      float: left;
      margin-top: 20px;
      .frame{
        width: 306px;
        height: 430px;
        float: left;
        margin-left: 21px;
        &:first-child{
          margin-left: 0;}
        .product-item{
          float: left;
          &:nth-child(2){
            margin-top: 20px;
          }
        }
      }
    }
  }
}
/* MAIN PAGE STYLES END */

/* HISTORY BLOCK STYLES BEGIN */
.history-row{
  background-color: black;
  header{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .content-container{
    background-color: #333333;
    height: 720px;
    .col-6{
      height: 100%;
      position: relative;
    }
    .block-1{
      height: 480px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      float: left;
      &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity: 0.03;
        background: url("/images/media/bg-1.jpg") no-repeat center;
        background-size: cover;
      }

      .orange-label{
        margin-top: 50px;
      }
    }
    .block-2{
      height: 240px;
      position: relative;
      z-index: 1;
      color: white;
      float: left;
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        background: url("/images/media/bg-3.jpg") center no-repeat;
        background-size: cover;

      }
      .orange-label{
        margin-top: 47px;
      }
    }
    .block-3{
      height: 240px;
      position: relative;
      z-index: 1;
      color: white;
      float: left;
      &:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #62676d;
        position: absolute;
        z-index: -2;
        top:0;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        background: url("/images/media/bg-2.jpg") center no-repeat;
        background-size: cover;
        opacity: 0.15;
      }
      .orange-label{
        margin-top: 50px;
      }
    }
    .block-4{
      height: 480px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      float: left;
      .orange-label{
        float: left;
        margin-top: 47px;
      }
      p{
        margin-top:110px;
      }

      .video-wrapper{
        width: 380px;
        margin: 0 auto;
        margin-top: 40px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity: 0.03;
        background: url("/images/media/bg-4.jpg") no-repeat center;
        background-size: cover;
      }
    }
    p{
      color: #ffffff;
      font-size: 16px;
      padding: 0 50px;
      //text-indent: 35px;
      font-weight: 300;
    }
  }
}
/* HISTORY BLOCK STYLES END */

/* SHOP STYLES BEGIN */
.product-item{
  width: 306px;
  height: 200px;
  border: solid 1px $grey-border;
  position: relative;
  overflow:hidden;

  .side-1{
    width: 100%;
    height: 100%;
    float: left;
  }
  .image-wrapper{
    width: 140px;
    height: 198px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 22px 0;

    img{
      height: 154px;
      width: auto;
    }
    &.landscape{
      line-height: 205px;
      img{
        width: 120px;
        height: auto;
        display: inline-block;
      }
    }
  }
  .info{
    width: 164px;
    height: 198px;
    float: left;
    padding: 17px 20px 22px 3px;
    position: relative;
    .name{
      padding-left: 7px;
      width: 100%;
      height: auto;
      color: #333;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
      line-height: 23px;
    }
    .desc{
      float: left;
      width: 100%;
      height: auto;
      max-height: 80px;
      color: #333;
      font-size: 13px;
      text-align: right;
      margin-top: 7px;
    }
    .price{
      color: #333;
      font-size: 20px;
      font-weight: 500;
      position: absolute;
      right: 20px;
      bottom: 18px;
    }
    .old-price{
      color: lighten(#333, 50);
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      left: 7px;
      bottom: 18px;
      text-decoration: line-through;
    }
  }

  .side-2{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0, 0.65);
    text-align: center;
    transform: rotateX(90deg);
    transform: rotateY(90deg);
    //top: 100%;
    transition: all 350ms;
    transform-style: preserve-3d;


    .more-info-link{
      display: inline-block;
      width: 170px;
      height: 35px;
      background: #9d9d9d;
      line-height: 35px;
      color: #000;
      font-size: 16px;
      text-decoration: none;
      margin-top: 62px;
    }
    .add-cart-control{
      display: inline-block;
      width: 170px;
      height: 35px;
      margin-top: 10px;
      position: relative;

      .qty-controls{
        width: 53px;
        height: 35px;
        position: relative;

        .qty-control{
          display: block;
          position: absolute;
          z-index: 2;
          width: 20px;
          left: 0;
          background-color: #ffffff;
          &.increment{
            height: 18px;
            top: 0;
            border: solid 1px #c6c6c6;
            background: #ffffff url("../images/arrow-qty-increment.png") no-repeat;
            background-position: center;
          }
          &.decrement{
            height: 18px;
            bottom: 0;
            border: solid 1px #c6c6c6;
            background: #ffffff url("../images/arrow-qty-decrement.png") no-repeat;
            background-position: center;
          }
        }
        input{
          width: 33px;
          height: 35px;
          text-align: center;
          border: solid 1px #c6c6c6;
          background: #ffffff;
          border-left: none !important;
          position: absolute;
          top: 0;
          right: 0;
        }

      }

      .add-cart-button{
        display: block;
        position: absolute;
        width: 107px;
        height: 35px;
        top: 0;
        right: 0;
        background: $orange;
        text-decoration: none;
        line-height: 35px;
        color:black;
        text-align: right;
        color: #000;
        font-size: 16px;
        padding-right: 14px;
        span{
          &:before{
            content:'';
            display: block;
            width: 20px;
            height: 16px;
            background: url('../images/cart-icon-black.png') no-repeat;
            position: absolute;
            top: 9px;
            left: 10px;
          }
        }
      }
    }

    .not-in-stock-text{
      display: inline-block;
      width: 170px;
      height: 35px;
      line-height: 35px;
      margin-top: 10px;
      position: relative;

      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.in-stock{
    .not-in-stock-text{ display:none; }
  }
  &.not-in-stock{
    .add-cart-control{ display:none; }
  }
  &:hover{
    .side-2{
      transform: rotateX(0deg);
      transform: rotateY(0deg);
      //transition: all 500ms;
      //top: 0;
    }
  }
}
/* SHOP STYLES END */

/* VIDEO BLOCK STYLES BEGIN */
.video-block{
  background: url("../images/video-flag-bg.jpg") no-repeat;
  background-size: cover;

  .header{
    height: 80px;
    padding-top: 25px;
    .slider-controls{
      margin-top: 10px;
    }
  }

  .content{
    float: left;
    margin-top: 7px;
    margin-bottom: 40px;
  }

  .video-list{
    display: block;
    list-style: none;
    width: 100%;
    float: left;
    li{
      display: block;
      float: left;
      width: 320px;
      .video-wrapper{
        width: 300px;
      }
    }
  }
}
/* VIDEO BLOCK STYLES END */

/**/
.video{
  width: 100%;
  height: auto;
  position: relative;

  img.video-pict{
    width: 100%;
    height: auto;
  }
  .play-button{
    position: absolute;
    display: block;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url("../images/play.png") center no-repeat;
    cursor: pointer;
  }
  .name{
    position: absolute;
    left:0;
    bottom: 10px;
    z-index: 1;
    width: 100%;
    padding: 0 10px;
    color: #fff; // text color + color overlay
    font-size: 16px;

  }
}
/**/