$orange: #f8b504;
$dark-grey: #333333;
$grey-border: #9d9d9d;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  min-height: 100vh;
  height: auto;
  float: left;
  font-family: "Helvetica Neue", Helvetica;
}
.row{
  width: 100%;
  height: auto;
  min-width: 960px;
}
.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  &.overflow-visisble{
    overflow: visible;
  }
}
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12{
  display: block;
  min-height: 1px;
  float: left;
}
.col-1{ width: 8.3333%;}  .col-2{ width: 16.6666%;}  .col-3{ width: 25%;}
.col-4{ width: 33.3333%;} .col-5{ width: 41.6666%;}  .col-6{ width: 50%;}
.col-7{ width: 58.3333%;} .col-8{ width: 66.6666%;}  .col-9{ width: 75%;}
.col-10{ width: 83.3333%;} .col-11{ width: 91.6666%;}  .col-12{ width: 100%;}

/* HEADER STYLES BEGIN */
header.site-header{
  background: $dark-grey;
  &>.container{
    height: 720px;
    .column{
      .label{
        line-height: 24px;
        span{
          background: $orange;
          padding: 3px 10px;
          color: #191919;
          font-size: 16px;
          font-weight: 300;
        }
      }
      height: 100%;
      .block-1{
        width: 100%;
        height: 480px;
        background: url("../images/logo.png") no-repeat;
        background-size: contain;
        float: left;
        a{
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
      .block-2{
        height: 240px;
        background: url("../images/header-block-2-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        width: 100%;
        .label{
          margin-top: 47px;
        }
      }
      .block-3{
        width: 100%;
        height: 240px;
        background: url("../images/header-block-3-bg.jpg") no-repeat;
        background-size: contain;
        float: left;
        .label{
          margin-top: 50px;
        }
      }
      .block-4{
        width: 100%;
        height: 480px;
        float: left;

      }
    }
  }
}
/* HEADER STYLES END */

/* NAVIGATION STYLES BEGIN */
nav.site-nav{
  background: #000;
  height: auto;
  height: 80px;
  overflow: hidden;
  &.opened{
    height: 217px;
  }
  .container{
    height: 217px;
    overflow: visible;
    position: relative;
  }
  .main-nav{
    float: left;
    height: 80px;
    width: 480px;
    list-style: none;
    display: table;
    >li{
      display: table-cell;
      width: 1%;
      height: 80px;
      white-space: nowrap;
      vertical-align: middle;
      color:white;
      >a{
        text-decoration: none;
        color:white;
        font-size: 16px;
        font-weight: 300;
        transition: all 350ms ease 0s;

        text-transform: uppercase;
        &:hover{
          color:$orange;
        }
      }
      &.active{
        a{
          color:$orange;
        }
      }
    }
  }
  .user-bar{
    height: 80px;
    .nav-phone{
      height: 80px;
      line-height: 75px;
      color: white;
      float: left;
      width: 180px;
      text-align: center;
      font-size: 16px;
      .code{}
      .phone{
        color:$orange;
        font-size: 20px;
      }
    }
    .nav-profile{
      width: 180px;
      height: 80px;
      float: left;
      line-height: 75px;
      text-align: right;
      a{
        text-decoration: none;
        color: white;
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          background: url("../images/profile-icon.png") no-repeat;
          left: -30px;
          top: -3px;
        }
      }
    }
    .nav-cart{
      text-align: right;
      line-height: 75px;
      a{
        color:#ffffff;
        position: relative;
        text-decoration: none;
      }
      .qty{
        display: inline-block;
        width: 24px;
        height: 24px;
        border: solid $orange 2px;
        color:$orange;
        border-radius: 12px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        left: -27px;
        top: -16px;
      }
      .cart-link{
        position: relative;
        &:before{
          content:'';
          display: block;
          width: 25px;
          height: 19px;
          background: url("../images/cart-icon.png") no-repeat;
          position: absolute;
          left:-40px;
          top:0px;
        }
        .price-value{}
      }
    }
  }

  ul.categories-subnav{
    display: block;
    list-style: none;
    width: 960px;
    height: 137px;
    float: left;
    position: absolute;
    left: 0;
    top: 80px;
    //text-transform:  !important;
    &:before, &:after{
      content: '';
      height: 100%;
      width: calc(50vw - 480px);
      background: $dark-grey;
      position: absolute;
      top: 0;
    }
    &:before{
      left: calc(480px - 50vw);
    }
    &:after{
      right: calc(480px - 50vw);
    }
    li{
      display: block;
      float: left;
      width: calc(100% / 7);
      height: 137px;
      position: relative;
      z-index: 1;
      a{
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        height: 100%;
        div{
          position: absolute;
          width: 120px;
          height: 25px;
          background: #000;
          color: #ffffff;
          margin-top: 15px;
          padding-left: 5px;
          line-height: 24px;
        }
      }
      &:hover{
        &:after{
          opacity: 0.35;
        }
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $orange;
        opacity: 0;
        z-index: -1;
      }
      &:nth-child(1){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-1.jpg");
          z-index: -2;
        }

      }
      &:nth-child(2){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-2.jpg");
          z-index: -2;
        }

      }
      &:nth-child(3){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-3.jpg");
          z-index: -2;
        }

      }

      &:nth-child(4){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/nav-catalog-subnav-4.jpg");
          z-index: -2;}
      }

      &:nth-child(5){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-5.jpg"); }
      }

      &:nth-child(6){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-6.jpg"); }
      }

      &:nth-child(7){
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
          background: url("../images/nav-catalog-subnav-7.jpg"); }
      }
    }
  }
}
/* NAVIGATION STYLES END */

/* MAIN PAGE STYLES BEGIN */
.sale-hits{
  >.container{
    position: relative;
    header{
      width: 100%;
      height: 70px;
      line-height: 26px;
      position: relative;
      h3{
        width: 235px;
        height: 70px;
        line-height: 100px;
        display: inline-block;
      }

      form{
        position: absolute;
        right: 0px;
        top: 32px;
        width: 305px;
        height: 30px;

        input{
          width: 100%;
          height: 100%;
          box-shadow: none !important;
          border: 1px solid $grey-border;
          padding-left: 10px;
          padding-right: 30px;
        }
        button{
          width: 28px;
          height: 28px;
          position: absolute;
          right: 1px;
          top: 1px;
          z-index: 2;
          background: url("../images/search-lens.png") no-repeat;
          background-position: center;
          border: none !important;
          box-shadow: none !important;
          cursor: pointer;
        }
      }
    }
  }
}
/* MAIN PAGE STYLES END */


/* SHOP STYLES BEGIN */

.product-item{
  width: 307px;
  height: 200px;
  border: solid 1px $grey-border;

  .side-1{
    width: 100%;
    height: 100%;
    float: left;
  }

  .image-wrapper{
    width: 140px;
    height: 198px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 22px 0;

    img{
      height: 154px;
      width: auto;
    }
    &.landscape{
      line-height: 205px;
      img{
        width: 120px;
        height: auto;
        display: inline-block;
      }
    }
  }

}
/* SHOP STYLES END */