$orange: #f8b504;
$dark-grey: #333333;
$grey-border: #9d9d9d;

h3{
  color: #333;
  font-size: 30px;
  font-weight: 500;
  vertical-align: baseline;
}

.slider-control{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-decoration: none;
  &.control-prev{
    background: url("../images/arrow-prev.png") no-repeat;
    background-position: left top;
  }
  &.control-next{
    background: url("../images/arrow-next.png") no-repeat;
    background-position: right top;
  }
}

.orange-label{
  line-height: 24px;
  span{
    background: $orange;
    padding: 3px 10px;
    color: #191919;
    font-size: 16px;
    font-weight: 300;
  }
}


